@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
    font-family: "Manrope", "Roboto", sans-serif;
}

:root {
    --swiper-navigation-size: 24px !important;
}

.language-select-container {
    position: absolute;
    top: 16px;
    right: 16px;
  }

.custom-calendar .rbc-month-row {
    min-height: 139px;
}

@media screen and (max-width: 974px) {
    .custom-calendar .rbc-month-row {
        min-height: 100px;
    }
    .custom-calendar .rbc-button-link {
        font-size: 10px;
    }
    .rbc-event {
        padding: 2px !important;
    }
}


.mbsc-timeline {
    border-radius: 10px;
    border: 1px solid #e7e7e7
}

.mbsc-windows.mbsc-calendar-wrapper-fixed, .custom-background-dark .mbsc-ios.mbsc-calendar-wrapper {
    border: none !important;
}

.mbsc-windows.mbsc-calendar-wrapper-fixed {
    display: none;
}

.custom-background-dark {
    background-color: #212a37 !important;
    
}

.custom-background-dark * {
    border-color: #374151 !important;
}

.custom-background-dark .mbsc-windows.mbsc-timeline-resource-bg,.custom-background-dark .mbsc-windows.mbsc-timeline-resource-header-cont,.custom-background-dark .mbsc-windows.mbsc-timeline-header-bg, .custom-background-dark .mbsc-ios.mbsc-timeline-header-bg {
    background-color: #212a37 !important;
}

.custom-background-dark .mbsc-timeline-header-time {
    color: white !important
}

.mbsc-windows .mbsc-timeline-header-active:after {
    background-color: transparent !important;
}

.custom-background-dark .mbsc-windows.mbsc-timeline-header-active {
    background-color: #212a37 !important;
    color: white !important;
}

.mbsc-windows.mbsc-schedule-time-indicator, .mbsc-schedule-time-indicator-y {
    display: none !important;
}

.custom-background-dark .mbsc-ios.mbsc-eventcalendar,.custom-background-dark .mbsc-calendar-header,.custom-background-dark .mbsc-ios.mbsc-timeline-resource-header-cont,.custom-background-dark .mbsc-ios.mbsc-timeline-resource-bg, .custom-background-dark .mbsc-ios.mbsc-timeline-header-text,.custom-background-dark .mbsc-ios-dark.mbsc-eventcalendar {
    background-color: #212a37 !important;
}

.custom-background-light .mbsc-ios.mbsc-calendar-controls, .custom-background-light .mbsc-ios-dark.mbsc-calendar {
    background: white !important
}

.mbsc-ios.mbsc-eventcalendar .mbsc-calendar-wrapper {
    border: none !important;
}